In [1]:
import pandas as pd

In [2]:
file1 = pd.read_csv('AAPL.csv')

In [5]:
file1.describe()

              open         high          low        close        volume
count  9535.000000  9535.000000  9535.000000  9535.000000  9.535000e+03
mean     23.704906    23.927566    23.471969    23.705137  8.776811e+07
std      43.591410    43.947005    43.241828    43.604188  8.672296e+07
min       0.161100     0.161100     0.159300     0.159300  2.503760e+05
25%       0.916000     0.934950     0.898050     0.916900  3.409560e+07
50%       1.436300     1.460300     1.406400     1.435600  5.979120e+07
75%      22.005200    22.261000    21.624150    21.950150  1.097572e+08
max     230.780000   233.470000   229.780000   232.070000  1.855410e+09

In [5]:
import os
files=os.listdir("Stock CSV_s")

In [6]:
files

['AAPL.csv',
 'AMZN.csv',
 'BA.csv',
 'BAC.csv',
 'CMCSA.csv',
 'DIS.csv',
 'FB.csv',
 'GOOGL.csv',
 'HSBC.csv',
 'IBM.csv',
 'INTC.csv',
 'JNJ.csv',
 'KO.csv',
 'MA.csv',
 'MCD.csv',
 'MSFT.csv',
 'ORCL.csv',
 'PEP.csv',
 'PFE.csv',
 'TM.csv',
 'TSLA.csv',
 'UNH.csv',
 'V.csv',
 'VZ.csv',
 'WFC.csv',
 'WMT.csv',
 'XOM.csv']

In [7]:
for file in files:
    print(file)

AAPL.csv
AMZN.csv
BA.csv
BAC.csv
CMCSA.csv
DIS.csv
FB.csv
GOOGL.csv
HSBC.csv
IBM.csv
INTC.csv
JNJ.csv
KO.csv
MA.csv
MCD.csv
MSFT.csv
ORCL.csv
PEP.csv
PFE.csv
TM.csv
TSLA.csv
UNH.csv
V.csv
VZ.csv
WFC.csv
WMT.csv
XOM.csv

In [8]:
file3 = pd.DataFrame()
for file in files:
    print(file)
    x=pd.read_csv(file)
    file3 = file3.append(x)

AAPL.csv
AMZN.csv
BA.csv
BAC.csv
CMCSA.csv
DIS.csv
FB.csv
GOOGL.csv
HSBC.csv
IBM.csv
INTC.csv
JNJ.csv
KO.csv
MA.csv
MCD.csv
MSFT.csv
ORCL.csv
PEP.csv
PFE.csv
TM.csv
TSLA.csv
UNH.csv
V.csv
VZ.csv
WFC.csv
WMT.csv
XOM.csv

In [9]:
file3.describe()

,open,high,low,close,volume
count,242646.000000,242646.000000,242646.000000,242646.000000,2.426460e+05
mean,37.030982,37.384201,36.663207,37.034393,1.713336e+07
std,95.002349,95.823802,94.074328,94.986996,3.584422e+07
min,0.010400,0.010400,0.009600,0.010400,0.000000e+00
25%,1.931300,1.961900,1.907700,1.935100,2.336725e+06
50%,14.873550,15.031800,14.707100,14.872550,5.932400e+06
75%,36.609400,36.944400,36.292700,36.627500,1.526962e+07
max,2038.110000,2050.500000,2013.000000,2039.510000,1.855410e+09

In [13]:
file3.to_excel('merged_datamorestocks_new.xlsx')